.container-fluid {
  background-color: #39d9f6;

}

.gameBoard {
  border: 0.5em solid #2387a0;
  width: 31rem;
  background-image: url('src/assets/blue-water.jpg');
}

.gameBlocks {
  display: flex;
  flex-wrap: wrap;
  width: 30rem;
  height: 30rem;
}

.gameBlock {
  flex: 1 0 3rem;
  box-sizing: border-box;
  padding: 10px;
  width: 3rem;
  height: 3rem;
  margin: 0;
  border: 1px solid black;
}

.water {
  background: dodgerblue;
}


