<div class="container-fluid ">
  <div class="row justify-content-center">
    <div class="gameBoard">
      <div
        cdkDropList
        id="blocksListPlayer1"
        [cdkDropListData]="gameBlocks"
        cdkDropListConnectedTo="itemsList"
        (cdkDropListDropped)="drop($event)"
        class="gameBlocks">
        <div *ngFor="let gameBlock of gameBlocks" [class]="gameBlock.noWater ? 'gameBlock' : 'gameBlock water'">

        </div>

      </div>
    </div>
  </div>

</div>
<div class="boardSpace">
  <hr>
</div>
<div class="container-fluid ">
  <div class="row justify-content-center">
    <div class="gameBoard">
      <div
        cdkDropList
        id="blocksListPlayer2"
        [cdkDropListData]="gameBlocks"
        cdkDropListConnectedTo="itemsList"
        (cdkDropListDropped)="drop($event)"
        class="gameBlocks">
        <div *ngFor="let gameBlock of gameBlocks" [class]="gameBlock.noWater ? 'gameBlock' : 'gameBlock water'">

        </div>

      </div>
    </div>
  </div>

</div>

<h1>Under Consctruction!!!</h1>
