.container-fluid {
  background-color: #39d9f6;
}

.gameBoard {
  border: 0.5em solid #2387a0;
  background: dodgerblue;
  width: 21rem;
}

.gameBlocks {
  display: flex;
  flex-wrap: wrap;
  width: 20rem;
  height: 20rem;
}

.gameBlock {
  flex: 1 0 2rem;
  box-sizing: border-box;
  padding: 10px;
  width: 2rem;
  height: 2rem;
  margin: 0;
  border: 1px solid black;
}

.water {
  background: dodgerblue;
}


