.container-fluid {
  background-color: deepskyblue;
}

.gameboard {
  border: 0.5em solid dodgerblue;
  background: #1c7430;
  width: 61rem;
}

.gameblocks {
  flex: 1 0 6rem;
  box-sizing: border-box;
  padding: 10px;
  width: 6rem;
  height: 6rem;
  margin: 0;
  border: 1px solid black;
}

