<div class="container">
  <div class="row">
    <div class="col-1">
    </div>
    <div class="col-md-10">
      <div class="p-16">
        <p class="text-center">Tap on a card to flip it. You can only flip a maximum of two cards at a time. A match
          will
          remove
          those cards!</p>
        <p class="text-center">your time is: {{score}}</p>
        <div class="col-md-12">
        <div class="grid p-16">
          <app-game-card *ngFor="let c of cards; let idx=index" [data]="c" (cardClicked)="cardClicked(idx)">
          </app-game-card>
        </div>
        </div>
      </div>
    </div>
    <div class="col-1">

    </div>
  </div>
</div>
