<div class="navbar-light">
  <app-header
    *ngFor="let titleName of title"
    [title]="titleName"
  ></app-header>
  <div class="navbar-expand-lg">
    <app-navbar></app-navbar>
<app-gameboard></app-gameboard>
  </div>
</div>

<!--<app-navbar (featureSelected)="onNavigate($event)"></app-navbar>
&lt;!&ndash;<app-header></app-header>&ndash;&gt;

<app-homepage *ngIf="loadedFeature === 'home'"></app-homepage>
<div>
  <app-gameboard *ngIf="loadedFeature === 'gameboard'"></app-gameboard>
  <app-login *ngIf="loadedFeature === 'login'"></app-login>
  <app-register *ngIf="loadedFeature === 'register'"></app-register>
  <hr>
</div>-->
