.navbar {
  background-color: darkblue;
  height: 100%;
}
.col1 {
  color: #caf3ed;
  font-family: "Arial Rounded MT Bold", serif;
  font-size: 36px;
  height: 70%;
  background-color: darkblue;

}
.col2 {
  color:  #caf3ed;
  border-bottom: 1px solid #e7e7e7;
  font-size: 22px;
  font-family: Milkshake,"Calibri", serif;
  height: 50%;
  background-color: darkblue;

}

h1{
  font-size: 48px;
}

.navbar-icon{
  border-radius: 1em;
}

#leftImage{
  -webkit-transform: scaleX(-1);
  transform: scaleX(-1);
}

