<nav class="navbar navbar-light">
  <img id="leftImage" src="assets\images\memoryIcon.png" alt="battle1" width="75" height="75" class="d-inline-block align-top navbar-icon">
  <div class="col1 col-md-8">
    <div class="text-center"><h1 class="Milkshake">{{title.name}}</h1>
    </div>
    <div class="row">
      <div class="col2 col-md-6 ">
        Today &nbsp;&nbsp; is:&nbsp;&nbsp;  {{date}}
      </div>
      <div class="col2 col-md-6 text-right">
        Lets &nbsp;  train  &nbsp;your&nbsp;  brain...
      </div>
    </div>
  </div>
  <img class="navbar-icon" src="assets\images\memoryIcon.png"alt="battle2" width="75" height="75" >
</nav>

