<nav class="navbar navbar-light">
  <img src=".\assets\images\battleship.jpg" alt="battle1" width="150" height="150" class="d-inline-block align-top">
  <div class="col1 col-md-8">
    <div class="text-center"><h1>Battle Ship</h1>
    </div>
    <div class="row">
      <div class="col2 col-md-6 ">
        Today is {{date}}
      </div>
      <div class="col2 col-md-6 text-right">
        The home of games.
      </div>
    </div>
  </div>
  <img src=".\assets\images\battleship.jpg" alt="battle2" width="150" height="150" >
</nav>

