
<div class="container">
  <h2> My Profile </h2>
  <div class="alert alert-success" *ngIf="message">{{message}}</div>
<table class="table">

    <thead>
     <!-- <tr>
        <th>id</th>
        <th>name</th>
        <th>description</th>
      </tr>-->
    </thead>
    <tbody>
      <tr *ngFor="let profile of profiles">
<!--        <td>{{profile.id}}</td>-->
        <td>{{profile.name}}</td>
        <td>{{profile.description}}</td>
        <td><button (click)="updateProfile(profile.id)" class="btn btn-success">Update</button></td>
        <td><button (click)="deleteProfile(profile.id)" class="btn btn-warning">Delete</button></td>
      </tr>
    </tbody>

</table>

<div class="row">
  <td><button (click)="addProfile()" class="btn btn-success">Add</button></td>
</div>
</div>
