<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark">
    <div><a href="/welcome" class="nav-link">Welcome</a></div>

    <ul class="navbar-nav">
      <li><a href="/game" class="nav-link">Game</a></li>
      <li><a href="/chat" class="nav-link">Chat</a></li>
    </ul>

  <ul class="navbar-nav navbar-collapse justify-content-end">
    <li><a href="/Sign in" class="nav-link">Sign In</a></li>
    <li><a href="/login" class="nav-link">Login</a></li>
  <!--  <li><a href="/logout" class="nav-link">Log Out</a></li>-->
  </ul>
 </nav>
</header>
